{{ partial "header" . }}

<div class="row">
  <div class="col-xs-12">
    {{ partial "breadcrumb" . }}
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-3 hidden-sm hidden-xs ">
    <div class="search-placeholder" style="height: 22px"></div>
    {{ partial "menu" . }}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-7 list-content search">
    <h1 id="title">Search the Docs</h1>

    <p id="result-is-limited" style="display: none">Showing the first X items only</p>

    {{ partial "search_form" (dict "context" . "placeholder" "Your search term") }}

    <div class="suggestion" style="display: none">
      <p>Try this: <a href="#">term</a></p>
    </div>

    <div class="searchinstructions" style="display: none">
      <p><strong>Hint</strong>: You can use <a href="http://www.lucenetutorial.com/lucene-query-syntax.html">Lucene search syntax</a>, including operators like <code>OR</code>, <code>AND</code>, <code>NOT</code>, <code>-</code>, <code>+</code> and bracketing.</p>
    </div>

    <div class="result">

    </div>

    {{ partial "feedback_reference" . }}

  </div>
</div>

{{ partialCached "footer" . }}
