.DS_Store
.sass-cache
*.map
*.pyc
/.idea
/.vscode
/annotations.json
/build/
/markdownlint-annotations.json
/markdownlint.out
/vendor/
/volumes
/src/resources
/src/public
__pycache__
venv/
.env
*/**/node_modules
