{{ partial "header" . }}

<div class="row">
  <div class="col-xs-12">
    {{ partial "breadcrumb" . }}
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-3 hidden-sm hidden-xs ">
    {{ partial "sidebar_search_form" . }}
    {{ partial "menu" . }}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-7 base-content">
    <div class="content">
      <p class="lastmod">Last modified {{ .Lastmod.Format "January 2, 2006" }}</p>

      {{ .Content }}

      {{ partial "help_feedback" . }}

    </div>
  </div>
  <div class="col-lg-2 toc-sidebar">
    <div class="toc">
      <p class="header">On this page</p>
      {{ .TableOfContents }}
    </div>
  </div>
</div>

{{ partial "footer" . }}
