{{ partial "header.html" . }}

<div class="row">
  <div class="col-xs-12">
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-3 hidden-sm hidden-xs ">
    <form class="form-inline" id="mobileSearchForm" method="GET" action="/search/" role="search">
      <div class="form-group">
        <label class="sr-only" for="searchInputMobile">Search term</label>
        <input type="search" name="q" class="form-control" placeholder="Search the Docs" id="searchInputMobile"/>
      </div>
      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
    </form>
    
    {{ partial "menu.html" . }}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-7 base-content">

    {{ partial "breadcrumb.html" . }}

    <div class="content">
      <p class="lastmod">Last modified {{ .Lastmod.Format "January 2, 2006" }}</p>

      {{ .Content }}

      {{ partial "help_feedback.html" . }}

    </div>
  </div>
  <div class="col-lg-2 toc-sidebar">
    <div class="toc">
      <p>On this page</p>
      {{ .TableOfContents }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
