{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-4 col-lg-3 hidden-sm hidden-xs ">
    {{ partial "search_above_menu.html" . }}
    {{ partial "menu.html" . }}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-7 base-content">

    {{ partial "breadcrumb.html" . }}

    <div class="content">
      <p class="lastmod">Last modified {{ .Lastmod.Format "January 2, 2006" }}</p>

      {{ .Content }}

      {{ partial "help_feedback.html" . }}

    </div>
  </div>
  <div class="col-lg-2 toc-sidebar">
    <div class="toc">
      <p>On this page</p>
      {{ .TableOfContents }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
