<div id="consent_dialog">
  <p>Giant Swarm uses cookies to give you the best online experience. If you continue to use this site, you agree to our use of cookies. To disable all but strictly necessary cookies, you may disagree by clicking the button to the right. Please see our <a href="https://giantswarm.io/privacypolicy/">privacy policy</a> for details.</p>
  <div class="buttons">
    <a class="button accept" href="#">ACCEPT</a>
    <a class="button button-secondary decline" href="#">DECLINE</a>
  </div>
</div>
