      </div>
    </section>
    </div>

    <div id="vintage-disclaimer">
      <div id="vintage-disclaimer-inner">
        <div id="vintage-disclaimer-wording"><p>This part of our documentation refers to our vintage product. The content may be not valid anymore for our current product. Please check our <a href="/">new documentation hub</a> for the latest state of our docs.

        </p></div>
        <div id="vintage-disclaimer-button-area">
          <a href="javascript:void(0);" id="vintage-disclaimer-button" role="button">Close</a>
        </div>
      </div>
    </div>

    <div id="footer">
      <template shadowrootmode="open">
        {{ partial "gs_footer_styles"}}
        {{ partial "gs_footer"}}
      </template>
    </div>
    

    {{ partial "scripts" . }}

    {{ partial "gs_cookies_banner_styles"}}

</body>
</html>
