      </div>
    </section>
    </div>

    <div id="vintage-disclaimer">
      <div id="vintage-disclaimer-inner">
        <div id="vintage-disclaimer-wording"><p>This is part of documentation corresponds to our vintage product. Currently we are working actively to bring latest and up to date content to the our implementation of the developer platform which uses Cluster API and CNCF projects.</p></div>
        <div id="vintage-disclaimer-button-area">
          <a href="javascript:void(0);" id="vintage-disclaimer-button" role="button">Close</a>
        </div>
      </div>
    </div>

    {{ partial "gs_footer"}}

    {{ partial "scripts" . }}

    {{ partial "gs_cookies_banner_styles"}}

</body>
</html>
