      </div>
    </section>
    </div>

    {{ partial "gs_footer.html"}}

    {{ partial "consent_dialog.html" . }}

    <script type="text/javascript" src="https://s.giantswarm.io/jquery/3.3.1/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://s.giantswarm.io/privacy/7/privacy.js"></script>
    <script type="text/javascript" src="https://s.giantswarm.io/giantswarmio/0.10.18/1/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://s.giantswarm.io/highlightjs/9.16.2/1/highlight.min.js"></script>
    <script type="text/javascript" src="/js/polyfill/IntersectionObserver.js"></script>
    <script type="text/javascript" src="/js/aside.js?{{ partial "cachebreaker_js.html" . }}"></script>
    <script type="text/javascript" src="/js/base.js?{{ partial "cachebreaker_js.html" . }}"></script>

    <script>
      let mobileMenuTrigger = document.getElementsByClassName('menu-trigger__container')[0];
      let mobileMenu = document.getElementsByClassName('mobile-menu ')[0];
      mobileMenuTrigger.addEventListener('click', () => {
        mobileMenuTrigger.classList.toggle('open');
        mobileMenu.classList.toggle('open');
      });
    </script>

</body>
</html>
