<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }} &#8211; Giant Swarm Documentation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ .Description }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="https://s.giantswarm.io/brand/1/favicon32.ico">
    <link rel="shortcut icon" type="image/x-icon" href="https://s.giantswarm.io/brand/1/favicon32.ico">
    <link rel="icon" sizes="152x152" href="https://s.giantswarm.io/brand/1/icon_152x152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://s.giantswarm.io/brand/1/icon_152x152.png">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="twitter:site" content="@giantswarm">
    <meta name="twitter:creator" content="@giantswarm">
    <meta name="twitter:domain" content="giantswarm.io">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:300,700|Roboto:300,500,700,300italic|Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="https://s.giantswarm.io/giantswarmio/0.10.18/1/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://s.giantswarm.io/highlightjs/9.16.2/1/solarized-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css?{{ partial "cachebreaker_css.html" . }}">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/b5c7b73e/publications/latest/woff.css">
    <script>
      window.GiantSwarmGoogleAnalyticsAccount = 'UA-52901087-2';
      window.GiantSwarmHubspotAccount = '430224';
    </script>
  </head>
  <body data-spy="scroll" data-target="#TableOfContents" class="{{if .IsPage}}{{ replace .RelPermalink "/" "_" }}{{end}}">
    {{ partial "gs_header.html" . }}
    <div id="wrapper">
    <section id="main">
      <div class="container">
        {{ partial "docsnav.html" . }}
