<section class="nav-wrap">
	<nav class="acnav" role="navigation">
		<ul class="acnav__list acnav__list--level1">
			<li class="has-children">
				<div class="acnav__label">Group 1 level 1</div>
				<ul class="acnav__list acnav__list--level2">
					<li><a class="acnav__link" href="">Item level 2</a></li>
					<li><a class="acnav__link" href="">Item level 2</a></li>
					<li class="has-children">
						<div class="acnav__label">Group 1.1 level 2</div>
						<ul class="acnav__list acnav__list--level3">
							<li><a class="acnav__link" href="">Item level 3</a></li>
							<li><a class="acnav__link" href="">Item level 3</a></li>
							<li class="has-children">
								<div class="acnav__label">Group 1.1.1 level 3</div>
								<ul class="acnav__list acnav__list--level4">
									<li><a class="acnav__link" href="">Item level 4</a></li>
								</ul>
							</li>
							<li class="has-children">
								<div class="acnav__label">Group 1.1.2 level 3</div>
								<ul class="acnav__list acnav__list--level4">
									<li><a class="acnav__link" href="">Item level 4</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="has-children">
						<div class="acnav__label">Group 1.2 level 2</div>
						<ul class="acnav__list acnav__list--level3">
							<li><a class="acnav__link" href="">Item with a long title that needs two lines level 3</a></li>
							<li><a class="acnav__link" href="">Item level 3</a></li>
							<li class="has-children">
								<div class="acnav__label">Group 1.2.1 level 3</div>
								<ul class="acnav__list acnav__list--level4">
									<li><a class="acnav__link" href="">Item level 4</a></li>
								</ul>
							</li>
							<li class="has-children">
								<div class="acnav__label">Group 1.2.2 level 3</div>
								<ul class="acnav__list acnav__list--level4">
									<li><a class="acnav__link" href="">Item level 4</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>

			<!-- start group 2 -->
			<li class="has-children">
				<div class="acnav__label">
					Group 2 level 1
				</div>
				<!-- start level 2 -->
				<ul class="acnav__list acnav__list--level2">
					<li>
						<a class="acnav__link" href="">Item level 2</a>
					</li>
					<li>
						<a class="acnav__link" href="">Item level 2</a>
					</li>

					<li class="has-children">
						<div class="acnav__label">
							Group 2.1 level 2
						</div>
						<!-- start level 3 -->
						<ul class="acnav__list acnav__list--level3">
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 2.1.1 level 3
								</div>
								<!-- start level 4 -->
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
								<!-- end level 4 -->
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 2.1.2 level 3
								</div>
								<!-- start level 4 -->
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
								<!-- end level 4 -->
							</li>
						</ul>
						<!-- end level 3 -->
					</li>

					<li class="has-children">
						<div class="acnav__label">
							Group 2.2 level 2
						</div>
						<!-- start level 3 -->
						<ul class="acnav__list acnav__list--level3">
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 2.2.1 level 3
								</div>
								<!-- start level 4 -->
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
								<!-- end level 4 -->
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 2.2.2 level 3
								</div>
								<!-- start level 4 -->
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
								<!-- end level 4 -->
							</li>
						</ul>
						<!-- end level 3 -->
					</li>
				</ul>
				<!-- end level 2 -->
			</li>
			<!-- end group 2 -->

			<!-- start group 3 -->
			<li class="has-children">
				<div class="acnav__label">
					Group 3 level 1
				</div>
				<!-- start level 2 -->
				<ul class="acnav__list acnav__list--level2">
					<li>
						<a class="acnav__link" href="">Item level 2</a>
					</li>
					<li>
						<a class="acnav__link" href="">Item level 2</a>
					</li>

					<li class="has-children">
						<div class="acnav__label">
							Group 3.1 level 2
						</div>
						<!-- start level 3 -->
						<ul class="acnav__list acnav__list--level3">
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 3.1.1 level 3
								</div>
								<!-- start level 4 -->
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
								<!-- end level 4 -->
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 3.1.2 level 3
								</div>
								<!-- start level 4 -->
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
								<!-- end level 4 -->
							</li>
						</ul>
						<!-- end level 3 -->
					</li>

					<li class="has-children">
						<div class="acnav__label">
							Group 3.2 level 2
						</div>
						<!-- start level 3 -->
						<ul class="acnav__list acnav__list--level3">
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li>
								<a class="acnav__link" href="">Item level 3</a>
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 3.2.1 level 3
								</div>
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
							</li>
							<li class="has-children">
								<div class="acnav__label">
									Group 3.2.2 level 3
								</div>
								<ul class="acnav__list acnav__list--level4">
									<li>
										<a class="acnav__link" href="">Item level 4</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>

		</ul>
	</nav>
	
</section>