{{ $aside := resources.Get "scripts/aside.js" }}
{{ $base := resources.Get "scripts/base.js" }}
{{ $gs_menu := resources.Get "scripts/gs_menu.js" }}
{{ $js := slice $aside $base $gs_menu | resources.Concat "js/docs.js" | resources.Minify | fingerprint }}
{{ $secureJS := $js | resources.Fingerprint "sha256" }}

<script type="text/javascript" src="https://s.giantswarm.io/jquery/3.3.1/1/jquery.min.js"></script>
<script type="text/javascript" src="https://s.giantswarm.io/giantswarmio/0.10.18/1/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/polyfill/IntersectionObserver.js"></script>
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ htmlUnescape $secureJS.Data.Integrity }}"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/430224.js"></script>
<!-- End of HubSpot Embed Code -->
<script async src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js" data-app-id="E5CE9FFF-1EA0-456D-9227-B90193F33F94"></script>
