<!-- BEGIN SITE_FOOTER -->
<div class="site-footer" role="contentinfo">
  <div class="site-footer__inner">
    <div class="site-footer__main-menu">
      <div id="hs_menu_wrapper_module_1541795171385914_mjfm_footer_main_menu" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-vertical" role="navigation" data-sitemap-name="MJFM Footer Main Menu" data-menu-id="13147820304" aria-label="Navigation Menu">
 <ul>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Company</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://www.giantswarm.io/about" role="menuitem">About Us</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://giantswarm.breezy.hr/" role="menuitem">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://www.giantswarm.io/contact" role="menuitem">Contact</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Platforms</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://www.giantswarm.io/aws" role="menuitem">AWS</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://www.giantswarm.io/azure" role="menuitem">Azure</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://www.giantswarm.io/on-premises" role="menuitem">On-Prem</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Resources</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://blog.giantswarm.io/" role="menuitem">Blog</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://docs.giantswarm.io/" role="menuitem">Documentation</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="https://www.giantswarm.io/privacy-policy" role="menuitem">Legal</a></li>
   </ul></li>
 </ul>
</div>
    </div>
    <div class="site-footer__secondary-headline">
      <img class="site-footer__secondary-headline-image" src="https://www.giantswarm.io/hubfs/giantswarm_logo_simplified_white.svg">
      <p>
        Giant Swarm’s managed microservices infrastructure enables enterprises to run agile, resilient, distributed systems at scale, while removing the tasks related to managing the complex underlying infrastructure.
      </p>
    </div>
  </div>
  <div class="site-footer__social-links">
    <div class="site-footer__social-links-list">
      <div class="site-footer__social-links-holder twitter">
        <a href="#" target="_blank" id="twitterLink"><img src="https://www.giantswarm.io/hubfs/icons/social-icon-twitter.svg"></a>
      </div>
      <div class="site-footer__social-links-holder linkedin">
        <a id="linkedInLink" target="_blank"><img src="https://www.giantswarm.io/hubfs/icons/social-icon-linkedin.svg"></a>
      </div>
      <div class="site-footer__social-links-holder facebook">
        <a href="#" target="_blank" id="facebookLink"><img src="https://www.giantswarm.io/hubfs/icons/social-icon-facebook.svg"></a>
      </div>
      <div class="site-footer__social-links-holder youtube">
        <a href="#" target="_blank" id="youtubeLink"><img src="https://www.giantswarm.io/hubfs/icons/social-icon-youtube.svg"></a>
      </div>
      <div class="site-footer__social-links-holder github">
        <a href="#" target="_blank" id="githubLink"><img src="https://www.giantswarm.io/hubfs/icons/social-icon-github.svg"></a>
      </div>
      <div class="site-footer__social-links-holder instagram" id="instagram">
        <a href="#" target="_blank" id="instagramLink"><img src="https://www.giantswarm.io/hubfs/social-icon-instagram-blue%20(1).svg"></a>
      </div>
    </div>
    <div class="site-footer__copyright">
      <p class="site-footer__copyright-holder">©2019 Giant Swarm GmbH. All rights reserved. </p>
    </div>
  </div>
</div>

<div class="site-footer__second-menu">
  <div id="hs_menu_wrapper_module_1541795171385914_mjfw_second_footer" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-vertical" role="navigation" data-sitemap-name="MJFW Second Footer" data-menu-id="13190417917" aria-label="Navigation Menu">
 <ul>
  <li class="hs-menu-item hs-menu-depth-1"><a href="http://www.twitter.com/giantswarm" role="menuitem" target="_blank">Twitter Url</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.linkedin.com/company/giant-swarm" role="menuitem" target="_blank">Linkedin Url</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="http://www.facebook.com/giantswarm" role="menuitem" target="_blank">Facebook Url</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.youtube.com/user/GiantSwarm" role="menuitem" target="_blank">Youtube Url</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://github.com/giantswarm/" role="menuitem" target="_blank">Github Url</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.instagram.com/giant.swarm/" role="menuitem" target="_blank">Instagram Url</a></li>
 </ul>
</div>
</div>

<div class="site-footer__third-menu">
  <div id="hs_menu_wrapper_module_1541795171385914_mjfw_third_footer" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-vertical" role="navigation" data-sitemap-name="MJFW Third Footer" data-menu-id="13150395251" aria-label="Navigation Menu">
 <ul>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://info-giantswarm-io.sandbox.hs-sites.com/privacy-policy" role="menuitem">Terms of Service | Privacy</a></li>
 </ul>
</div>
</div>
<!-- END SITE_FOOTER --></div>
