{{- $sass         := "styles/base.sass" }}
{{- $cssTarget    := "css/base.css" }}
{{- $cssOpts      := (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:300,700|Roboto:300,700,300italic|Inconsolata:400,700">
<link rel="stylesheet" type="text/css" href="https://s.giantswarm.io/giantswarmio/0.10.18/1/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://s.giantswarm.io/giantswarmio/0.10.18/1/base.css">
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ htmlUnescape $css.Data.Integrity }}">
<link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/b5c7b73e/publications/latest/woff.css">
