version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

jobs:
  test:
    executor: architect/architect
    environment:
      DOCKER_BUILDKIT: '1'

    steps:
    - checkout

    - setup_remote_docker:
        version: default

    - run:
        name: Launch container for tests
        command: |
          container_tag=$(architect project version)
          echo "$container_tag"
          docker run -d --rm --name docs-app -p 8080:8080 gsoci.azurecr.io/giantswarm/docs:$container_tag

          CURL_OUTPUT=$(docker run --link docs-app gsoci.azurecr.io/giantswarm/curl:7.81.0 curl --no-buffer http://docs-app:8080)
          echo $CURL_OUTPUT | grep -q "Giant Swarm"

workflows:
  build-workflow:
    jobs:
    - architect/push-to-registries:
        name: push-to-registries
        context: architect
        registries-data: |-
          public gsoci.azurecr.io ACR_GSOCI_USERNAME ACR_GSOCI_PASSWORD true
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
              - main
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-app-catalog
        app_catalog: giantswarm-operations-platform-catalog
        app_catalog_test: giantswarm-operations-platform-test-catalog
        chart: docs-app
        requires:
          - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
    - test:
        requires:
          - push-to-app-catalog
