version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout

      - run:
          name: Install SASS
          command: gem install sass

      - run:
          name: Build
          command: make build

      - run:
          name: Install architect
          command: |
            wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
            chmod +x ./architect
            ./architect version

      - run:
          name: Build using architect
          command: ./architect build

      - run:
          name: Launch container for tests
          command: |
            docker run -d --rm --name docs -p 80:80 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
            CURL_OUTPUT=$(curl --no-buffer -s http://localhost:80)
            echo $CURL_OUTPUT | grep --quiet "Giant Swarm"
            docker kill docs

      - run:
          name: Run Lighthouse audits
          command: |
            IMAGE=quay.io/giantswarm/lighthouse:label-reports
            docker pull $IMAGE
            URL="http://docs/guides/securing-with-rbac-and-psp/"
            
            docker run -d --rm --name docs -p 80:80 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
            docker run --rm \
                -v $PWD:/out -v $PWD/dev-shm:/dev/shm --link docs:docs \
                $IMAGE ci-run.sh $URL $CIRCLE_BRANCH
            docker kill docs
            
            docker run -d --rm --name docs -p 80:80 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:latest
            docker run --rm \
                -v $PWD:/out -v $PWD/dev-shm:/dev/shm --link docs:docs \
                $IMAGE ci-run.sh $URL master
            docker kill docs

      - run:
          name: Compare lighthouse results
          command: |
            docker run --rm \
              -v $PWD:/reports \
              quay.io/giantswarm/lighthouse:label-reports \
                lighthouse-keeper compare \
                  -i /reports/master.json -l master \
                  -i /reports/$CIRCLE_BRANCH.json -l $CIRCLE_BRANCH
      
      - run:
          name: Linkcheck
          command: |
            docker run -d --rm --name docs -p 80:80 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
            docker run --rm -ti --name linkchecker \
                --link docs:docs \
                jare/linkchecker \
                http://docs:80 \
                --check-extern -t 5 --ignore-url /api/

      - deploy:
          name: Deploy (only if branch is "master")
          command: |
            echo "Deploy only if '${CIRCLE_BRANCH}' == 'master'"
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              ./architect deploy
            fi
