version: 2.1

orbs:
  architect: giantswarm/architect@0.4.3


jobs:
  linkcheck-internal:
    machine:
      image: "ubuntu-1604:201903-01"

    steps:
      - run:
          name: Internal link check
          command: |
            docker pull linkchecker/linkchecker > /dev/null
            docker run -d --rm --name docs1 -p 8081:8080 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
            docker run --rm -ti --name linkchecker \
              --link docs1:docs1 \
              linkchecker/linkchecker \
                http://docs1:8081 \
                -t 4 \
                --ignore-url="^https://docs\.giantswarm\.io/.*" \
                --ignore-url=/api/
            docker kill docs1 || echo "Container 'docs1' not running"

  linkcheck:
    machine:
      image: "ubuntu-1604:201903-01"

    steps:
      - run:
          name: Link check including external
          command: |
            docker pull linkchecker/linkchecker > /dev/null
            docker run -d --rm --name docs2 -p 8082:8080 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
            docker run --rm -ti --name linkchecker \
              --link docs2:docs2 \
              linkchecker/linkchecker \
                http://docs2:8082 \
                --check-extern \
                -t 2 \
                --ignore-url="^https://docs\.giantswarm\.io/.*" \
                --ignore-url=/api/ \
                --ignore-url="^https://.*example\.com/.*" \
                --ignore-url="^https://my-org\.github\.com/.*" \
                --ignore-url=".*gigantic\.io.*" \
                --ignore-url="^https://github\.com/giantswarm/giantswarm/.*"
            docker kill docs2 || echo "Container 'docs2' not running"


  build:
    machine:
      image: "ubuntu-1604:201903-01"

    steps:
      - checkout

      - run:
          name: Check Markdown structure
          command: make lint

      - run:
          name: Install SASS
          command: gem install sass

      - run:
          name: Build
          command: make build

      - run:
          name: Install architect
          command: |
            wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/tags/v1.0.0 | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
            chmod +x ./architect
            ./architect version

      - run:
          name: Build using architect
          command: ./architect build

      - run:
          name: Launch container for tests
          command: |
            docker run -d --rm --name docs -p 8080:8080 quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
            CURL_OUTPUT=$(curl --no-buffer -s http://localhost:8080)
            echo $CURL_OUTPUT | grep --quiet "Giant Swarm"
            docker kill docs

      - deploy:
          name: Deploy (only if branch is "master")
          command: |
            echo "Deploy only if '${CIRCLE_BRANCH}' == 'master'"
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              ./architect deploy
            fi

workflows:
  version: 2

  build-and-check:
    jobs:
      - build
      - linkcheck-internal:
          requires:
            - build
      - linkcheck-external:
          type: approval
          requires:
            - build

  package-and-push-chart-on-tag:
    jobs:
      - build:
          filters:  # required since `architect/push-to-app-catalog` has tag filters AND requires `build`
            tags:
              only: /.*/
      - architect/push-to-app-catalog:
          name: "package and push docs"
          app_catalog: "giantswarm-operations-platform-catalog"
          app_catalog_test: "giantswarm-operations-platform-test-catalog"
          chart: "docs-app"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
          requires:
            - build
