{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 id="title">Changes and Releases</h1>
    <p class="intro">Updates on Giant Swarm platform releases, apps, UI improvements and documentation changes.</p>

    <ul class="changelog">
        {{ range .Paginator.Pages }}
        <li class="changelog">
            <div class="meta">
                <a href="{{ .Permalink | relURL }}" title="Permalink" class="permalink"><i class="fa fa-link"></i>{{ .Date.Format "Jan 2, 2006 at 15:04" }}</a>
                {{ with .Params.tags }}
                    <span class="tag">{{ index . 0 }}</span>
                {{ end }}
                <i class="icon icon-github"></i><a class="repo" href="https://github.com/{{ .Params.changelog_entry.repository }}" target="_blank" rel="noopener noreferer" title="Link to the source repository">{{  replace .Params.changelog_entry.repository "giantswarm/" "" }}</a>
                <a href="{{ .Params.changelog_entry.url }}" target="_blank" rel="noopener noreferer" title="Details on this release">{{ .Params.changelog_entry.version_tag }}</a></div>
            {{ with .Content }}<div class="content">{{ . }}</div>{{- end }}
        </li>
        {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}

  </div>
</div>

{{ partial "footer.html" . }}
