{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 id="title">Control Plane Kubernetes API Reference</h1>

    <p>At Giant Swarm, the <em>control plane</em> is another term for the management cluster that allows to create and manage the workload clusters running your workloads.</p>
    
    <p>The Control Plane Kubernetes API gives you access to the custom resources (CR) defining your workload clusters in your Giant Swarm installation’s management cluster. Here you find schema descriptions for the custom resources in use.</p>

    <hr />

    <h2>Custom Resource Definitions</h2>

    <p>Select the <abbr title="Custom Resource">CR</abbr>/<abbr title="Custom Resource Definition">CRD</abbr> name to get information on the custom resource schema.</p>

    <ul class="linklist crd-index">

      {{ range .Pages.ByTitle }}
      <li>
          <a href="{{ .Permalink | relURL }}">{{ .LinkTitle }}</a>
          <div class="meta">
            {{ with .Params.technical_name }}
              {{ $crdName := . }}
              <p><code>{{ $crdName }}</code>
              {{ with index $.Site.Data.crd_metadata $crdName }}
                {{ $crdMetaData := . }}
                  {{ with index $crdMetaData "provider" }}
                    &mdash; Provider
                    {{ range . }}
                      <span class="tag tag-provider tag-provider-{{ . }}">{{ . }}</span>
                    {{ end }}
                  {{ end }}
                  {{ with index $crdMetaData "topics" }}
                    &mdash; Topic
                    {{ range . }}
                      <span class="tag tag-topic tag-topic-{{ . }}">{{ . }}</span>
                    {{ end }}
                  {{ end }}
              {{ end }}
              </p>
            {{ end }}
            <p>{{ .Description }}</p>
          </div>
      </li>
      {{ end }}

    </ul>

  </div>
</div>

{{ partial "footer.html" . }}
