{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 id="title">Control Plane Kubernetes API Reference</h1>

    <p>The Control Plane Kubernetes API gives you access to the custom resources (CR) defining your tenant clusters in your Giant Swarm installation’s control plane. Here you find schema descriptions for the custom resources in use.</p>

    <p>This is an early preview of our Control Plane Kubernetes API documentation, focusing on Custom Resource (CR)/Custom Resource Definition (CRD) schema.</p>

    <p>Watch this space in the upcoming weeks to find improvements and more documented details. Feel free to give us any <strong>feedback</strong> and let us know how we could do better!</p>

    <hr />

    <h2>Custom Resource Definitions</h2>

    <p>Select the <abbr title="Custom Resource">CR</abbr>/<abbr title="Custom Resource Definition">CRD</abbr> name to get information on the custom resource schema.</p>

    <ul class="linklist crd-index">

      {{ range .Pages.ByWeight }}
      <li>
          <a href="{{ .Permalink | relURL }}">{{ .LinkTitle }}</a>
          <div class="meta">
            {{ with .Params.technical_name }}
              {{ $crdName := . }}
              <p><code>{{ $crdName }}</code>
              {{ with index $.Site.Data.crd_metadata $crdName }}
                {{ $crdMetaData := . }}
                  {{ with index $crdMetaData "provider" }}
                    &mdash; Provider:
                    {{ range . }}
                      <span class="tag tag-provider tag-provider-{{ . }}">{{ . }}</span>
                    {{ end }}
                  {{ end }}
                  {{ with index $crdMetaData "topics" }}
                    &mdash; Topic:
                    {{ range . }}
                      <span class="tag tag-topic tag-topic-{{ . }}">{{ . }}</span>
                    {{ end }}
                  {{ end }}
              {{ end }}
              </p>
            {{ end }}
            <p>{{ .Description }}</p>
          </div>
      </li>
      {{ end }}

    </ul>

  </div>
</div>

{{ partial "footer.html" . }}
