{{ partial "header.html" . }}

<div class="row">
  <div class="col-xs-12">
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-3 hidden-sm hidden-xs toc-sidebar">
    <div>
      <div class="toc">
        {{ .TableOfContents }}
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-8 col-lg-offset-1 base-content">

    {{ partial "breadcrumb.html" . }}

    <div class="content">
      <p class="lastmod">Last modified {{ .Lastmod.Format "January 2, 2006" }}</p>

      {{ .Content }}

      {{ partial "help_feedback.html" . }}

    </div>
  </div>
</div>

{{ partial "footer.html" . }}
