# yaml-language-server: $schema=https://raw.githubusercontent.com/giantswarm/crd-docs-generator/refs/heads/main/config-schema.json
template_path: ./crd.template
# List of repositories containing CRDs.
# Sequence is important here if several repos provide the same CRD (based on the full name).
# In this case, the first repo "wins". Subsequent repos adding the same CRD will result in a
# warning.
source_repositories:
  - url: https://github.com/giantswarm/apiextensions-application
    organization: giantswarm
    short_name: apiextensions-application
    commit_reference: v0.6.2
    crd_paths:
      - config/crd
    cr_paths:
      - docs/cr
    metadata:
      appcatalogs.application.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - apps
        deprecation:
          replaced_by:
            full_name: catalogs.application.giantswarm.io
            short_name: Catalog
      appcatalogentries.application.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - apps
        deprecation:
          info: We are moving towards publishing charts in OCI registries. The platform will connect to repositories via Flux OCI Repository resources.
      apps.application.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - apps
        deprecation:
          info: We are moving towards deploying Helm charts using Flux and HelmRelease resources.
      catalogs.application.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - apps
        deprecation:
          info: We are moving towards publishing charts in OCI registries. The platform will connect to repositories via Flux OCI Repository resources.
      charts.application.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - apps
        deprecation:
          info: We are moving towards deploying Helm charts using Flux and HelmRelease resources.
  - url: https://github.com/giantswarm/config-controller
    organization: giantswarm
    short_name: config-controller
    commit_reference: v0.10.1
    crd_paths:
      - config/crd
    cr_paths:
      - docs/cr
    metadata:
      configs.core.giantswarm.io:
        hidden: true
  - url: https://github.com/giantswarm/silence-operator
    organization: giantswarm
    short_name: silence-operator
    commit_reference: v0.20.0
    crd_paths:
      - config/crd
    cr_paths:
      - docs/cr
    metadata:
      silences.observability.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-atlas
        topics:
          - managementcluster
          - observability
  - url: https://github.com/giantswarm/observability-operator
    organization: giantswarm
    short_name: observability-operator
    commit_reference: v0.54.0
    crd_paths:
      - config/crd/bases
    cr_paths:
      - config/samples
    metadata:
      grafanaorganizations.observability.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-atlas
        topics:
          - managementcluster
          - observability
  - url: https://github.com/giantswarm/release-operator
    organization: giantswarm
    short_name: release-operator
    commit_reference: v4.2.1
    crd_paths:
      - config/crd
    cr_paths:
      - docs/cr
    metadata:
      releases.release.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - managementcluster
          - workloadcluster
  - url: https://github.com/giantswarm/organization-operator
    organization: giantswarm
    short_name: organization-operator
    commit_reference: v2.1.2
    crd_paths:
      - config/crd
    cr_paths:
      - docs/cr
    metadata:
      organizations.security.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-shield
        topics:
          - managementcluster
  - url: https://github.com/giantswarm/apiextensions
    organization: giantswarm
    short_name: apiextensions
    commit_reference: v6.6.0
    annotations_paths:
      - pkg/annotation
    crd_paths:
      - config/crd
      - helm
    cr_paths:
      - docs/cr
    metadata:
      awsclusters.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsclusters.infrastructure.giantswarm.io:
        hidden: true
      awsclusterconfigs.core.giantswarm.io:
        hidden: true
      awsclustercontrolleridentities.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsclusterroleidentities.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsclusterstaticidentities.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsconfigs.provider.giantswarm.io:
        hidden: true
      awscontrolplanes.infrastructure.giantswarm.io:
        hidden: true
      awsfargateprofiles.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsmachinedeployments.infrastructure.giantswarm.io:
        hidden: true
      awsmachinepools.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsmachines.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsmachinetemplates.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsmanagedclusters.infrastructure.cluster.x-k8s.io:
        hidden: true
      awsmanagedcontrolplanes.controlplane.cluster.x-k8s.io:
        hidden: true
      awsmanagedmachinepools.infrastructure.cluster.x-k8s.io:
        hidden: true
      azureassignedidentities.aadpodidentity.k8s.io:
        hidden: true
      azureclusteridentities.infrastructure.cluster.x-k8s.io:
        hidden: true
      azureclusters.infrastructure.cluster.x-k8s.io:
        hidden: true
      azureclusterconfigs.core.giantswarm.io:
        hidden: true
      azureconfigs.provider.giantswarm.io:
        hidden: true
      azureidentities.aadpodidentity.k8s.io:
        hidden: true
      azureidentitybindings.aadpodidentity.k8s.io:
        hidden: true
      azuremachinepools.exp.infrastructure.cluster.x-k8s.io:
        hidden: true
      azuremachinepools.infrastructure.cluster.x-k8s.io:
        hidden: true
      azuremachines.infrastructure.cluster.x-k8s.io:
        hidden: true
      azuremachinetemplates.infrastructure.cluster.x-k8s.io:
        hidden: true
      azuremanagedclusters.exp.infrastructure.cluster.x-k8s.io:
        hidden: true
      azuremanagedcontrolplanes.exp.infrastructure.cluster.x-k8s.io:
        hidden: true
      azuremanagedmachinepools.exp.infrastructure.cluster.x-k8s.io:
        hidden: true
      azurepodidentityexceptions.aadpodidentity.k8s.io:
        hidden: true
      certconfigs.core.giantswarm.io:
        hidden: true
      chartconfigs.core.giantswarm.io:
        hidden: true
      clusterclasses.cluster.x-k8s.io:
        hidden: true
      clusterresourcesetbindings.addons.cluster.x-k8s.io:
        hidden: true
      clusterresourcesets.addons.cluster.x-k8s.io:
        hidden: true
      clusters.core.giantswarm.io:
        hidden: true
      clusters.cluster.x-k8s.io:
        hidden: true
      eksconfigs.bootstrap.cluster.x-k8s.io:
        hidden: true
      eksconfigtemplates.bootstrap.cluster.x-k8s.io:
        hidden: true
      etcdbackups.backup.giantswarm.io:
        hidden: true
      g8scontrolplanes.infrastructure.giantswarm.io:
        hidden: true
      haproxyloadbalancers.infrastructure.cluster.x-k8s.io:
        hidden: true
      ingressconfigs.core.giantswarm.io:
        hidden: true
      kubeadmconfigs.bootstrap.cluster.x-k8s.io:
        hidden: true
      kubeadmconfigtemplates.bootstrap.cluster.x-k8s.io:
        hidden: true
      kubeadmcontrolplanes.controlplane.cluster.x-k8s.io:
        hidden: true
      machinedeployments.cluster.x-k8s.io:
        hidden: true
      machinehealthchecks.cluster.x-k8s.io:
        hidden: true
      machinepools.exp.cluster.x-k8s.io:
        hidden: true
      machinepools.cluster.x-k8s.io:
        hidden: true
      machines.cluster.x-k8s.io:
        hidden: true
      machinesets.cluster.x-k8s.io:
        hidden: true
      networkpools.infrastructure.giantswarm.io:
        hidden: true
      releasecycles.release.giantswarm.io:
        hidden: true
      sparks.core.giantswarm.io:
        hidden: true
      storageconfigs.core.giantswarm.io:
        hidden: true
      vsphereclusteridentities.infrastructure.cluster.x-k8s.io:
        hidden: true
      vsphereclusters.infrastructure.cluster.x-k8s.io:
        hidden: true
      vsphereclustertemplates.infrastructure.cluster.x-k8s.io:
        hidden: true
      vspheredeploymentzones.infrastructure.cluster.x-k8s.io:
        hidden: true
      vspherefailuredomains.infrastructure.cluster.x-k8s.io:
        hidden: true
      vspheremachines.infrastructure.cluster.x-k8s.io:
        hidden: true
      vspheremachinetemplates.infrastructure.cluster.x-k8s.io:
        hidden: true
      vspherevms.infrastructure.cluster.x-k8s.io:
        hidden: true
  - url: https://github.com/giantswarm/rbac-operator
    organization: giantswarm
    short_name: rbac-operator
    commit_reference: v0.42.3
    crd_paths:
      - config/crd
    cr_paths:
      - docs/cr
    metadata:
      rolebindingtemplates.auth.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-shield
        topics:
          - managementcluster
  - url: https://github.com/giantswarm/kyverno-policy-operator
    organization: giantswarm
    short_name: kyverno-policy-operator
    commit_reference: v0.1.6
    crd_paths:
      - helm
    metadata:
      policyexceptions.policy.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-shield
  - url: https://github.com/giantswarm/exception-recommender
    organization: giantswarm
    short_name: exception-recommender
    commit_reference: v0.2.0
    crd_paths:
      - helm
    metadata:
      policyexceptiondrafts.policy.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-shield
  - url: https://github.com/giantswarm/konfigure-operator
    organization: giantswarm
    short_name: konfigure-operator
    commit_reference: v1.0.1
    crd_paths:
      - config/crd/bases
    cr_paths:
      - docs/examples/crs
    metadata:
      konfigurationschemas.konfigure.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - configuration
      konfigurations.konfigure.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - configuration
