/* Styles for the CRD schema reference documentation */

ul.crd-index {
  margin-top: 2em;
  margin-bottom: 2em;
}

dl.crd-meta {
	display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #999;
}

.crd-meta dt {
  flex-basis: 20%;
  margin: 0;
  padding: 4px 4px;
  border-top: 1px solid #999;
  font-weight: bold;
}

.crd-meta dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 4px 4px;
  border-top: 1px solid #999;
}

.crd-meta a.version {
  font-family: Inconsolata;
  margin-right: 10px;
}

.crd-schema-version {
  border-top: 1px solid #ccc;
}

.property {
  margin-bottom: 1em;
}

.property-header h3 {
  font-family: Inconsolata;
  font-size: 22px;
  margin: 0;
  margin-left: -0.1em;
}

.property-description, .property-meta {
  margin: 5px 0
}

.property-type {
  background-color: #cacaca;
  font-family: Inconsolata;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.property-required {
  background-color: rgb(245, 191, 191);
  font-size: 14px;
  line-height: 22px;
  padding: 3px 6px;
  text-transform: uppercase;
}

