body {
    padding-top: 70px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

h1 {
    margin-top: 25px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 20px;
}

strong {
    font-weight: 700;
    color: #444;
}

ul.nav li.main {
    font-weight: bold;
}

.dropdown-menu > li > a {
    padding: 7px 15px;
}

div.col-md-3 {
    padding-left: 0;
}

div.source-links {
    float: right;
}

table {
    font-size: 15px;
}
td, th {
    padding: 3px 5px 3px 5px;
}
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

/* yellow: #F3B64B*/
.navbar-default {
    background-color: #304050;
}
.navbar-logo {
    float: left;
}
th {
    padding: 3px;
    background-color: #E8E8E8;
}

/** Code **/
pre, pre.prettyprint.well {
    font-size: 15px;
    white-space: pre !important;
    word-wrap: normal !important;
    word-break: initial !important;
    overflow-x: auto !important;
    overflow-y: hidden;
}
code {
    font-family: "Inconsolata", "Consolas", "Lucida Console", monospace;
    white-space: pre !important;

}

#contentcontainer {
    padding-bottom: 30px;
}

/** last modified date (<p>) **/
.lastmod {
    font-size: 13px;
    color: #999;
    padding-top: 15px;
    padding-bottom: 15px;
}

p > img {
    margin: 20px 0 30px 0;
}

/** Forms **/
input, .form-control {
    font-size: 15px;
}
.form-group .btn, .input-group-addon, .input-group-btn .btn {
    font-size: 15px;
}
.btn-primary {
    background-color: #23c451;
    border-color: #23c451;
}
.btn-primary:hover {
    background-color: #1c9d41;
    border-color: #1c9d41;
}

/** Search **/

form.search {
    margin-top: 20px;
    margin-bottom: 30px;
}
form.search input[@type="submit"]{
    border-radius: 3px
}
#qinput {
    width: 300px;
    height: 39px;
    line-height: 23px;
}
.result a.item {
    display: block;
    padding: 4px;
    cursor: pointer;
}
.result a.item > * {
    cursor: pointer;
}
.result a.item:hover, .result a.item:focus {
    background-color: #fbfbfb;
    text-decoration: none;
}
.result a.item:hover h4, .result a.item:focus p.uri {
    text-decoration: underline;
}

.bs-sidebar .searchhint {
    padding: 5px;
}
a.item p.snippet, a.item p.sbreadcrumb {
    color: #333;
}
a.item em {
    background-color: #E6F7EB;
    color: #000;
    font-style: normal;
}
a.item .hellip {
    color: #aaa;
}

.feedback {
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.feedback h5 {
    font-weight: 700;
}