# Changes and Releases automation config
#
# Under '.repositories', each key represents a Github repository
# which we want to fetch release info from.
#
# The 'category' property determines the changes category the
# entries from the repo land in.
#
repositories:
  giantswarm/releases:
    # The repo 'giantswarm/releases' gets special treatment, so no
    # config needed
  giantswarm/apiextensions:
    category: Fleet Management
  giantswarm/alloy-app:
    category: Observability
  giantswarm/alloy-gateway-app:
    category: Observability
  giantswarm/aws-admission-controller:
    category: Fleet Management
    delete: true
  giantswarm/azure-admission-controller:
    category: Fleet Management
    delete: true
  giantswarm/athena:
    category: Security
  giantswarm/auth-bundle:
    category: Security
  giantswarm/aws-efs-csi-driver:
    category: Fleet Management
  giantswarm/aws-load-balancer-controller-app:
    category: Fleet Management
  giantswarm/aws-node-termination-handler-app:
    category: Fleet Management
  giantswarm/backstage:
    category: Developer Portal
  giantswarm/capa-karpenter-taint-remover:
    category: Fleet Management
  giantswarm/cert-manager-app:
    category: Security
  giantswarm/cilium-healthcheck:
    category: Connectivity
  giantswarm/cilium-prerequisites:
    category: Connectivity
  giantswarm/cloudflared-app:
    category: Security
  giantswarm/cloudnative-pg-app:
    category: Security
  giantswarm/coredns-app:
    category: Connectivity
  giantswarm/dashboards:
    category: Observability
  giantswarm/dex-app:
    category: Security
  giantswarm/docs:
    category: Documentation
    # Don't create useless PRs only for empty changelogs in `docs`
    skip_if_body_is_one_of:
      - ''
      - '- Update generated content'
      - '- Update changes and releases'
  giantswarm/exception-recommender:
    category: Security
  giantswarm/external-dns-app:
    category: Connectivity
  giantswarm/external-dns-bundle:
    category: Connectivity
  giantswarm/external-dns-crossplane-resources:
    category: Connectivity
  giantswarm/external-secrets:
    category: Security
  giantswarm/falco-app:
    category: Security
  giantswarm/fluent-logshipping-app:
    category: Observability
  giantswarm/flux-app:
    category: Continuous Deployment
  giantswarm/gateway-api-app:
    category: Connectivity
  giantswarm/gitops-server-app:
    category: Continuous Deployment
  giantswarm/grafana-app:
    category: Observability
  giantswarm/grafana-agent-app:
    category: Observability
  giantswarm/happa:
    category: Developer Portal
  giantswarm/hello-world-app:
    category: Others
  giantswarm/ingress-nginx-app:
    category: Connectivity
  giantswarm/jiralert-app:
    category: Others
  giantswarm/k8s-dns-node-cache-app:
    category: Connectivity
  giantswarm/karpenter-bundle:
    category: Fleet Management
  giantswarm/keda-app:
    category: Fleet Management
  giantswarm/kong-app:
    category: Connectivity
  giantswarm/kube-prometheus-stack-app:
    category: Observability
  giantswarm/kube-state-metrics-app:
    category: Observability
  giantswarm/kubectl-gs:
    category: Fleet Management
  giantswarm/kyverno-app:
    category: Security
  giantswarm/kyverno-policies:
    category: Security
  giantswarm/loki-app:
    category: Observability
  giantswarm/management-cluster-admission:
    category: Platform API
    delete: true
  giantswarm/mimir-app:
    category: Observability
  giantswarm/observability-bundle:
    category: Observability
  giantswarm/observability-platform-api:
    category: Observability
  giantswarm/prometheus-operator-app:
    category: Observability
  giantswarm/promtail-app:
    category: Observability
  giantswarm/rbac-bootstrap-app:
    category: Security
  giantswarm/rook-operator-app:
    category: Fleet Management
  giantswarm/silence-operator:
    category: Observability
  giantswarm/sloth-app:
    category: Observability
  giantswarm/starboard-app:
    category: Security
  giantswarm/starboard-exporter:
    category: Security
  giantswarm/trivy-app:
    category: Security
  giantswarm/organization-operator:
    category: Security
  giantswarm/rbac-operator:
    category: Security
  giantswarm/strimzi-kafka-operator-app:
    category: Fleet Management
  giantswarm/teleport-kube-agent-app:
    category: Security
  giantswarm/teleport-tbot:
    category: Security
  giantswarm/tempo-app:
    category: Observability
  giantswarm/pyroscope-app:
    category: Observability
  giantswarm/vertical-pod-autoscaler-app:
    category: Fleet Management
  giantswarm/zot:
    category: Fleet Management

# Here we define the colors for categories.
categories:
  - name: CAPA releases
    color: "#ff9900"
  - name: CAPV releases
    color: "#9bcaa2"
  - name: CAPVCD releases
    color: "#99ddff"
  - name: CAPZ releases
    color: "#43b6f0"
  - name: Connectivity
    color: "#9cab85"
  - name: Continuous Deployment
    color: "#a28766"
  - name: Developer Portal
    color: "#6ac8ba"
  - name: Documentation
    color: "#e2c451"
  - name: Fleet Management
    color: "#9a8aa7"
  - name: Highlights
    color: "#f1dd55"
  - name: Observability
    color: "#b756b0"
  - name: Security
    color: "#d55f5d"
  - name: Others
    color: "#cccccc"
