<div class="well disclaimer">

<i class="fa fa-warning"></i> This section of our documentation covers [organizations](/platform-overview/multi-tenancy/) as defined in the [Management API](/use-the-api/management-api/) and requires single sign-on. These are features we are preparing to roll out to customers one by one.

If you are still using a proprietary Giant Swarm user account and log in to the web user interface via email and password, these features are not yet available to you.

<!-- TODO: Link to page regarding migration and changes once it exists -->

</div>
