<h1 id="title">{{ .Title }}</h1>
{{- with .Description }}
<p class="intro">{{ . }}</p>
{{- end }}

<ul class="changelog">
    {{- range .Paginator.Pages }}
        {{ $page := . }}
        <li class="changelog">
            {{ partial "changes/meta" $page }}
            {{- with $page.Content }}
                <div class="content">
                    {{ if in $page.Params.changes_categories "Highlights" }}<h1 class="highlights">{{ $page.Title }}</h1>{{ end }}

                    {{ . }}
                </div>
            {{- end }}
        </li>
    {{ end }}
</ul>

{{ partial "pagination" . }}
