@keyframes sticky_header_active {
  0% {
      opacity: 0;
      transform: scale(1.1) translateY(-50%)
  }

  to {
      opacity: 1;
      transform: scale(1) translateY(0)
  }
}

@keyframes sticky_header_inactive {
  0% {
      transform: translateY(20%)
  }

  to {
      transform: translateY(0)
  }
}

@keyframes navbarFlyout {
  0% {
      opacity: 0;
      transform: scale(.95)
  }

  to {
      opacity: 1;
      transform: scale(1)
  }
}

@keyframes mnavOverlay {
  0% {
      opacity: 0
  }

  to {
      opacity: .5
  }
}

@keyframes mnavPopup {
  0% {
      opacity: 0;
      transform: translateX(100%)
  }

  to {
      opacity: 1;
      transform: translateX(0)
  }
}

@keyframes mnavMenu {
  0% {
      opacity: 0;
      transform: translateY(-10px) translateZ(0)
  }

  to {
      opacity: 1;
      transform: translateY(0) translateZ(0)
  }
}

@keyframes uiPop {
  0% {
      opacity: 0;
      transform: scale(.9) translateZ(0)
  }

  to {
      opacity: 1;
      transform: scale(1) translateZ(0)
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      visibility: hidden
  }

  to {
      opacity: 1;
      visibility: visible
  }
}

@keyframes btn_ripple {
  0% {
      opacity: .3
  }

  30% {
      opacity: .3
  }

  to {
      opacity: 0;
      transform: scale(4)
  }
}

.btn {
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}
