baseurl: https://docs.giantswarm.io
languageCode: en
title: Giant Swarm Documentation
pluralizeListTitles: false
rssLimit: 50
enableGitInfo: true

markup:
  defaultMarkdownHandler: goldmark
  tableOfContents:
    endLevel: 3
    startLevel: 2

  goldmark:
    renderer:
      unsafe: true
  highlight:
    codeFences: true
    style: solarized-dark
    guessSyntax: false
    tabWidth: 4
    lineNos: false

menu:
  main:
  - identifier: platform-overview
    name: Platform Overview
    url: /platform-overview/
    weight: 10
  - identifier: getting-started
    name: Getting started
    url: /getting-started/
    weight: 20
  - identifier: advanced
    name: Advanced setup
    url: /advanced/
    weight: 30
  - identifier: ui-api
    name: UIs and APIs
    url: /ui-api/
    weight: 40
  - identifier: support-training
    name: Support & Training
    url: /support/
    weight: 50
  - identifier: changes
    name: Changes and releases
    url: /changes/
    weight: 90

taxonomies:
  changes_category: changes_categories

permalinks:
  changes_categories: /changes/:slug
