baseurl: https://docs.giantswarm.io
languageCode: en
title: Giant Swarm Documentation
pluralizeListTitles: false
rssLimit: 50
enableGitInfo: true

markup:
  defaultMarkdownHandler: goldmark
  tableOfContents:
    endLevel: 3
    startLevel: 2

  goldmark:
    renderer:
      unsafe: true
  highlight:
    codeFences: true
    style: solarized-dark
    guessSyntax: false
    tabWidth: 4
    lineNos: false

menu:
  main:
  - identifier: platform-overview
    name: Platform Overview
    url: /vintage/platform-overview/
    weight: 10
  - identifier: getting-started
    name: Getting started
    url: /vintage/getting-started/
    weight: 20
  - identifier: advanced
    name: Advanced
    url: /vintage/advanced/
    weight: 30
  - identifier: use-the-api
    name: Use the API
    url: /vintage/use-the-api/
    weight: 40
  - identifier: support-training
    name: Support & Training
    url: /vintage/support/
    weight: 50
  - identifier: changes
    name: Changes and releases
    url: /changes/
    weight: 90
  principal:
  - identifier: overview
    name: Overview
    url: /overview/
    weight: 10
  - identifier: getting-started
    name: Getting started
    url: /getting-started/
    weight: 20
  - identifier: tutorials
    name: Tutorials
    url: /tutorials/
    weight: 30
  - identifier: reference
    name: Reference
    url: /reference/
    weight: 40
  - identifier: support
    name: Support
    url: /support/
    weight: 50
  - identifier: changes
    name: Changes and releases
    url: /changes/
    weight: 90

taxonomies:
  changes_category: changes_categories

permalinks:
  changes_categories: /changes/:slug

# Populate the `.Site.Params` variable for use in templates and shortcodes
params:
  impl_titles:
    # If you want to specify the cloud/datacenter provider and not something vintage/CAPI-specific, use these
    aws_any: "AWS"
    azure_any: "Azure"
    vcd_any: "VMware Cloud Director"
    vsphere_any: "VMware vSphere"

    # If it applies to all providers for CAPI or vintage, respectively
    capi_any: "CAPI (any)"
    vintage_any: "Vintage (any)"

    # Provider and implementation specific
    capa_ec2: "CAPA (AWS EC2)"
    capa_eks: "CAPA (AWS EKS)"
    capg_vms: "CAPG (GCP VMs)"
    capo: "CAPO (OpenStack)"
    capv: "CAPV (VMware vSphere)"
    capvcd: "CAPVCD (VMware Cloud Director)"
    capz_vms: "CAPZ (Azure VMs)"
    vintage_aws: "Vintage (AWS)"
    vintage_azure: "Vintage (Azure)"
    vintage_kvm: "Vintage (KVM)"
  mermaid:
      theme: "neutral"
      align: "center"
