.home-searchform
  margin-top: 1.5em
  
  > *
    font-size: 18px

  .center-block
    width: 600px

    @media (max-width: 768px)
      width: 400px

    .form-group
      width: 550px
      @media (max-width: 768px)
        width: 300px

  .form-inline
    .form-control
      width: 100%
      font-size: 18px
      line-height: 28px
      height: 40px
    
    .btn
      font-size: 18px