.changelog
    strong
        color: #636363
    
    h3
        color: #636363

    i.fa
        color: #585858
        padding-right: 5px
    
    
    .feed
        height: 50px
    
    .tagsfilter
        max-width: 320px

        h3
            margin-top: 0px
            font-size: 20px

        .reset
            display: block
            margin: 10px 0
            color: #585858
            font-size: 12px
    
    .tag
        display: inline-block
        background-color: #999
        border-radius: 4px
        padding: 0px 8px
        margin: 4px 2px
        font-size: 14px
        font-weight: 400
        line-height: 26px

        a
            color: #000
        a:hover
            text-decoration: none

    .meta
        padding: 10px 0
        border-top: 1px solid #ccc

        .permalink
            font-weight: 700
            color: #585858
            margin-right: 8px
        
        a.repo
            color: #585858
            margin-left: 8px
        a.release
            color: #585858
            margin-left: 8px
        .fa
            font-size: 18px

ul.changelog
    list-style-type: none
    padding-inline-start: 0

    > li
        list-style-type: none
        margin: 30px 0

        ul
            li
                list-style-type: disc

    .content
        font-size: 14px
        max-height: 200px
        overflow: hidden
        text-overflow: ellipsis
        content: ""
        position: relative

        &:before
            content: ""
            width: 100%
            height: 100%
            position: absolute
            left: 0
            top: 0
            background: linear-gradient(transparent 150px, white)
            pointer-events: none

        ul
            padding-inline-start: 30px

            > li
                margin: 0px 0px
                margin-bottom: 0px !important
        
        h1, h2, h3, h4, h5, h6
            font-size: 14px
            font-weight: 700
            margin-top: 6px
            margin-bottom: 4px
            color: #444

li.changelog
    margin: 0px 0px
    margin-bottom: 0px !important
