{{ partial "header" . }}

<div id="home">

  <div class="row">
    <div class="col-xs-12">
      <h1>Giant Swarm Documentation</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 home-searchform">
      <div class="center-block hidden-xs">
        {{ partial "search_form" }}
      </div>

      <div class="visible-xs">
        <form method="GET" action="/search/" role="search">
          <div class="form-group">
            <label class="sr-only" for="searchInputMobile">Find documentation for</label>
            <input type="search" name="q" class="form-control" id="searchInputMobile"/>
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
        </form>
      </div>

      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/general/">General</a></h3>
      <p class="intro">This is where you find some introductory and high-level description of what to expect with Giant Swarm.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/getting-started/">Getting started</a></h3>
      <p class="intro">Guides that help you get going with your new Giant Swarm installation quickly.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/advanced/">Advanced setup</a></h3>
      <p class="intro">More advanced guides for optimization and solutions to specific problems.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/ui-api/">UIs and APIs</a></h3>
      <p class="intro">Ways to interact with your infrastructure and apps, from the web user interface to CLIs and APIs.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/app-platform/">App platform</a></h3>
      <p class="intro">Learn how to manage app catalogs and apps, for simple and standardized deployment of workload in all your clusters.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/security/">Security</a></h3>
      <p class="intro">How Giant Swarm keeps your clusters safe by default, and what you can do in addition to protect your resources.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/kubernetes/">Kubernetes basics</a></h3>
      <p class="intro">Documentation on various Kubernetes topics, plus some pointers to upstream docs, and a collection of best practices.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/reference/">Reference</a></h3>
      <p class="intro">Our place for those facts you never want to keep in mind.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><a href="/changes/">Changes and releases</a></h3>
      <p class="intro">Stay up-to-date on changes and releases in apps, workload cluster components, UIs and even the documentation itself.</p>
    </div>
  </div>


</div>

{{ partialCached "footer" . }}
