@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("https://s.giantswarm.io/giantswarmio_fonts/1/icomoon.eot?bsop34");
  src: url("https://s.giantswarm.io/giantswarmio_fonts/1/icomoon.eot?bsop34#iefix") format("embedded-opentype"), url("https://s.giantswarm.io/giantswarmio_fonts/1/icomoon.ttf?bsop34") format("truetype"), url("https://s.giantswarm.io/giantswarmio_fonts/1/icomoon.woff?bsop34") format("woff"), url("https://s.giantswarm.io/giantswarmio_fonts/1/icomoon.svg?bsop34#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelope-o:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-book:before {
  content: ""; }

.icon-map-marker:before {
  content: ""; }

.icon-chevron-left:before {
  content: ""; }

.icon-chevron-right:before {
  content: ""; }

.icon-exclamation-circle:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-twitter-square:before {
  content: ""; }

.icon-facebook-square:before {
  content: ""; }

.icon-linkedin-square:before {
  content: ""; }

.icon-github-square:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-square:before {
  content: ""; }

.icon-bars:before {
  content: ""; }

.icon-navicon:before {
  content: ""; }

.icon-reorder:before {
  content: ""; }

.icon-google-plus-square:before {
  content: ""; }

.icon-google-plus:before {
  content: ""; }

.icon-envelope:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-github-alt:before {
  content: ""; }

.icon-angellist:before {
  content: ""; }

body {
  margin-bottom: 0px; }

body > footer {
  background-color: #1f3947;
  color: #ddd;
  margin-top: 15px;
  line-height: 36px;
  height: 400px; }

body > footer nav {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-size: 13px;
  padding-top: 25px; }

body > footer nav::after {
  clear: both;
  content: "";
  display: table; }

body > footer nav strong {
  font-weight: 800;
  color: #666; }

body > footer nav a {
  color: #ddd; }

body > footer nav a:hover {
  color: #fff; }

body > footer nav li a {
  color: #ddd;
  text-decoration: none;
  padding: 8px 11px;
  border-radius: 4px; }

body > footer nav li a div {
  display: inline-block;
  font-size: 22px;
  margin-right: 15px;
  position: relative;
  top: 4px;
  width: 20px; }

body > footer nav li a:hover {
  color: #fff;
  background-color: #274759; }

body > footer nav .footer-navigation-a {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 22.85714%;
  margin-left: 8.57143%; }

body > footer nav .footer-navigation-a:last-child {
  margin-right: 0; }

@media screen and (max-width: 768px) {
  body > footer nav .footer-navigation-a {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 100%;
    margin-left: 0; }

  body > footer nav .footer-navigation-a:last-child {
    margin-right: 0; }

  body > footer nav .footer-navigation-a li {
    display: inline-block;
    margin-right: 0; } }
@media screen and (max-width: 480px) {
  body > footer nav .footer-navigation-a {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 100%; }

  body > footer nav .footer-navigation-a:last-child {
    margin-right: 0; } }
body > footer nav .footer-navigation-b {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 22.85714%; }

body > footer nav .footer-navigation-b:last-child {
  margin-right: 0; }

@media screen and (max-width: 768px) {
  body > footer nav .footer-navigation-b {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 100%;
    margin-left: 0; }

  body > footer nav .footer-navigation-b:last-child {
    margin-right: 0; }

  body > footer nav .footer-navigation-b li {
    display: inline-block;
    margin-right: 0; } }
@media screen and (max-width: 480px) {
  body > footer nav .footer-navigation-b {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 100%; }

  body > footer nav .footer-navigation-b:last-child {
    margin-right: 0; } }
body > footer nav ul {
  margin: 0;
  padding: 0; }

body > footer nav ul li {
  display: block;
  margin-right: 25px; }

body > footer nav #social-media-links {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 22.85714%;
  margin-left: 17.14286%; }

body > footer nav #social-media-links:last-child {
  margin-right: 0; }

@media screen and (max-width: 768px) {
  body > footer nav #social-media-links {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 100%;
    margin-left: 0;
    padding: 12px;
    margin-top: 25px; }

  body > footer nav #social-media-links:last-child {
    margin-right: 0; }

  body > footer nav #social-media-links li {
    display: inline-block; } }
@media screen and (max-width: 480px) {
  body > footer nav #social-media-links {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 100%; }

  body > footer nav #social-media-links:last-child {
    margin-right: 0; } }
body > footer nav #social-media-links ul li {
  position: relative;
  left: -12px; }

body.home_view > header {
  background-color: #2b85bc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  body.home_view > header a {
    color: #eee; }
    body.home_view > header a:hover {
      color: white; }
body > header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 25;
  background-color: #fff; }
  body > header.open {
    background-color: #eee; }
    body > header.open #contact_us_link {
      border-color: #888; }
  body > header nav {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    font-size: 16px;
    color: #eee; }
    body > header nav::after {
      clear: both;
      content: "";
      display: table; }
    body > header nav strong {
      font-weight: 800;
      color: #666; }
    body > header nav:hover #logo span {
      opacity: 1; }
    body > header nav:hover #logo:hover span {
      text-decoration: underline; }
    body > header nav .branding {
      height: 50px;
      line-height: 25px;
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 31.42857%; }
      body > header nav .branding:last-child {
        margin-right: 0; }
    body > header nav .navigation {
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 65.71429%; }
      body > header nav .navigation:last-child {
        margin-right: 0; }
      body > header nav .navigation #navigation_toggle {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 24px;
        display: none; }
    body > header nav a {
      display: inline-block;
      color: #333;
      text-decoration: none;
      height: 50px;
      line-height: 50px;
      padding: 0px 22px; }
      body > header nav a.button {
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        margin-left: 25px;
        top: -1px;
        position: relative; }
      body > header nav a:hover {
        color: #000;
        text-decoration: underline; }
    body > header nav #logo {
      vertical-align: middle;
      height: 30px;
      padding: 0px;
      position: relative;
      top: -2px; }
      body > header nav #logo span {
        position: relative;
        top: -7px;
        margin-left: 14px;
        opacity: 0;
        -webkit-transition: opacity 0.1s ease-in 0s;
        -moz-transition: opacity 0.1s ease-in 0s;
        transition: opacity 0.1s ease-in 0s; }
    body > header nav ul {
      margin: 0px;
      padding: 0px;
      text-align: right;
      height: 50px; }
    body > header nav li {
      display: inline-block;
      vertical-align: middle; }
      body > header nav li:last-child {
        margin-right: 0px; }
      body > header nav li.active a {
        background-color: #e7e7e7; }

@media screen and (max-width: 768px) {
  body.home_view > header.open {
    background-color: #226892; }
    body.home_view > header.open #contact_us_link {
      border-color: #fff; } }
@media screen and (max-width: 768px) and (max-width: 768px) {
  body.home_view > header.open nav ul {
    background-color: #226892;
    display: block; }
    body.home_view > header.open nav ul a:hover {
      background-color: #2676a7; } }
@media screen and (max-width: 768px) {
  body > header.open nav ul {
    background-color: #eee;
    display: block; }
    body > header.open nav ul a:hover {
      background-color: #ddd; } }
@media screen and (max-width: 768px) {
  body > header nav:hover #logo span {
    opacity: 0; } }
@media screen and (max-width: 853px) {
  body > header nav .branding {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 40%; }
    body > header nav .branding:last-child {
      margin-right: 0; } }
@media screen and (max-width: 768px) {
  body > header nav .branding {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 65.71429%;
    margin-right: 0; }
    body > header nav .branding:last-child {
      margin-right: 0; } }
@media screen and (max-width: 480px) {
  body > header nav .branding {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 100%;
    margin-right: 0; }
    body > header nav .branding:last-child {
      margin-right: 0; } }
@media screen and (max-width: 853px) {
  body > header nav .navigation {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 57.14286%; }
    body > header nav .navigation:last-child {
      margin-right: 0; } }
@media screen and (max-width: 768px) {
  body > header nav .navigation {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 100%; }
    body > header nav .navigation:last-child {
      margin-right: 0; } }
@media screen and (max-width: 768px) {
  body > header nav .navigation #navigation_toggle {
    display: block; } }
@media screen and (min-width: 480px) and (max-width: 853px) {
  body > header nav .navigation #docs_link {
    display: none; } }
@media screen and (min-width: 480px) and (max-width: 1104px) {
  body > header nav .navigation #request_invite_link {
    display: none; } }
@media screen and (max-width: 768px) {
  body > header nav ul {
    height: auto;
    background-color: #226892;
    -webkit-box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.14);
    padding: 20px 30px;
    padding-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    display: none; } }
@media screen and (max-width: 768px) {
  body > header nav li {
    display: block;
    text-align: left;
    margin-right: 0px; } }
@media screen and (max-width: 768px) {
  body > header nav li a {
    display: block;
    padding: 20px 22px;
    line-height: 10px; }
    body > header nav li a:hover {
      background-color: #2676a7; } }
.button {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  line-height: 36px;
  height: 36px;
  background-color: #2b85bc;
  color: #fff;
  padding: 0px 30px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  position: relative;
  margin-top: -3px;
  margin-bottom: -3px; }

.button:hover {
  text-decoration: none;
  color: #fff; }

.button-green {
  background-color: #23c451; }

.button-green:hover {
  background-color: #3BD566; }

#hiring-badge {
  background-color: #234a61;
  color: #fff;
  font-size: 14px;
  padding: 0px 8px;
  line-height: 25px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: relative;
  top: 12px;
  height: 25px; }
  #hiring-badge:hover {
    background-color: #316786;
    text-decoration: none; }
  #hiring-badge:active:hover {
    background-color: #2a5874; }

h1, h2, h3, h4, h5, h6 {
  text-align: left; }

h2 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 30px; }

h3 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666; }

h4 {
  font-weight: 700;
  color: #888;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px; }

h5 {
  font-weight: 700;
  font-size: 16px; }

pre {
  background-color: #002b36;
  padding: 4;
  margin: 25px 0 25px 0; }

code {
  color: #3b5e72;
  background-color: #e7ecee; }

pre code {
  color: #839496; }

a code {
  color: #1c91d5; }

.centered-text {
  text-align: center; }

.docsnav {
  margin-bottom: 40px; }

.docsnav .nav > li > a {
  font-size: 14px;
  padding: 6px 9px; }

.docsnav form {
  margin: 0;
  font-size: 14px; }

.docsnav input {
  font-size: 14px;
  padding: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 2px;
  line-height: 18px;
  height: 34px; }

#mobileSearchForm input {
  width: 200px;
  height: 36px; }

#mobileSearchForm button {
  height: 36px; }

#mobileSearchForm .form-group {
  display: inline-block; }

.lastmod {
  font-size: 13px;
  color: #999;
  margin-top: 0px;
  padding-top: 0px; }

.feedback {
  margin-top: 40px;
  padding-top: 8px;
  padding-bottom: 8px; }

.feedback h5 {
  font-weight: 700; }

.quickstart, .docs-video {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  box-sizing: border-box;
  padding: 20px 15px 10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px; }

.quickstart .nav-tabs {
  border-color: #999 !important;
  font-size: 14px; }

.quickstart .nav-tabs > li > a {
  background-color: #dff0d8 !important;
  border-color: #999 !important;
  font-size: 14px; }

.quickstart .nav-tabs > li.active > a, .quickstart .nav-tabs > li.active > a:hover, .quickstart .nav-tabs > li.active > a:focus {
  background-color: #dff0d8 !important;
  border-color: #999 !important;
  border-bottom-color: #dff0d8 !important;
  font-size: 14px; }

.quickstart .nav-tabs li.other-link a {
  border-bottom-color: #999 !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 42px; }

.nav-tabs {
  margin-top: 20px; }

.nav-tabs > li > a:hover {
  background-color: #dff0d8 !important; }

.quickstart h3, .docs-video h3 {
  margin-top: 0; }

.docs-video h3 {
  color: #fff; }

.quickstart pre {
  background-color: #444;
  color: #eee;
  border: none;
  margin-top: 10px; }

.quickstart pre code {
  color: #eee; }

.quickstart pre code b {
  font-weight: normal;
  color: #fff; }

.quickstart pre code b.username {
  color: #EDEB59; }

.quickstart .other-link {
  float: right; }

.quickstart .other-link a, .quickstart .other-link a:hover {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.6; }

.docs-video {
  background-color: #3E83AC;
  padding-bottom: 5px;
  color: #ffffff; }

.docs-video h3 {
  font-size: 20px; }

.docs-video a, .docs-video a:hover {
  color: #fff; }

.docs-video .embed-responsive {
  margin-bottom: 10px; }

.home-introbox h3 {
  margin-top: 0; }

.home-introbox ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.home-introbox ul li {
  margin: 5px 0 5px 0; }

.home-introbox h4 {
  margin-top: 15px;
  margin-bottom: 15px; }

.home-introbox hr {
  margin: 15px 0 15px 0; }

.search-cta {
  margin-top: 25px;
  margin-bottom: 25px; }

.search-cta-inner {
  margin-top: 25px;
  margin-bottom: 25px; }

.search-cta-header {
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  left: 40px; }

.search-cta-header input {
  border: none;
  border-bottom: 2px solid #555;
  font-family: Inconsolata, monospace;
  color: #666;
  min-width: 100px;
  padding-left: 4px;
  padding-right: 4px; }

.search-cta-header button {
  margin-left: 10px;
  padding-left: 14px;
  padding-right: 14px;
  opacity: 0; }

.search-cta-text {
  font-size: 18px; }

ul.notype {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul.notype li {
  margin-top: 7px;
  margin-bottom: 7px; }

.bigbullets li {
  padding-left: 22px;
  text-indent: -10px; }

.bigbullets a .fa-arrow-circle-right {
  color: #7bb1e2; }

.bigbullets a:hover .fa-arrow-circle-right {
  color: #136391; }

.btn-firstapp {
  background-color: #234a61;
  color: #ddd;
  font-family: Inconsolata, monospace;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 14px; }

.btn-firstapp:hover {
  background-color: #3b5e72;
  color: #fff; }

.requestinvite {
  margin: 30px 0 30px 0; }

.requestinvite .toprow, .requestinvite .lastrow {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px; }

.requestinvite .buttonrow a {
  font-size: 16px;
  padding: 10px 40px 9px 40px; }

#home .requestinvite .buttonrow a {
  font-size: 22px;
  padding: 14px 60px 13px 60px; }

#home .requestinvite .toprow, #home .requestinvite .lastrow {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px; }

.home-introbox h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px; }

.home-introbox h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px; }

.home-introbox hr {
  margin-top: 15px; }

.home-introbox hr:first-of-type {
  margin-top: 0;
  margin-bottom: 15px; }

.home-introbox ul {
  margin-bottom: 15px; }

.home-yourfirstapp {
  padding-bottom: 10px; }

.home-yourfirstapp h2 {
  margin-bottom: 10px; }

.linklist {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px; }

.linklist li {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px; }

.linklist a {
  font-size: 20px; }

.linklist .meta {
  margin-top: 6px; }

.linklist.linklist-compact li {
  margin-bottom: 9px;
  line-height: 20px; }
  .linklist.linklist-compact li a {
    font-size: 16px; }

#TableOfContents {
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 10px 0px 10px 0px; }

#TableOfContents ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#TableOfContents li a {
  margin: 0;
  padding: 5px 14px 5px 18px;
  line-height: 23px;
  display: block;
  border-left: 2px solid #fff; }

#TableOfContents ul ul a {
  padding-left: 32px; }

#TableOfContents ul ul ul a {
  display: none; }

#TableOfContents ul ul ul a {
  padding-left: 42px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  line-height: 18px; }

#TableOfContents li a:hover {
  background-color: #eee;
  border-left-color: #234a61;
  text-decoration: none; }

form.search-full {
  margin-top: 20px;
  margin-bottom: 30px; }

form.search-full input[type=submit] {
  border-radius: 3px; }

#qinput {
  width: 300px;
  height: 39px;
  line-height: 23px; }

.result a.item {
  display: block;
  padding: 4px;
  cursor: pointer; }

.result a.item > * {
  cursor: pointer; }

.result a.item:hover, .result a.item:focus, .result a.item:hover > * {
  background-color: #fbfbfb;
  text-decoration: none; }

.result a.item h4 {
  margin-bottom: 10px; }

.result a.item:hover h4, .result a.item:focus p.uri {
  color: #1c91d5;
  text-decoration: underline; }

.bs-sidebar .searchhint {
  padding: 5px; }

a.item p.snippet {
  color: #333; }

a.item p.sbreadcrumb {
  font-size: 14px;
  color: #333; }

a.item:hover p.sbreadcrumb {
  color: #1c91d5;
  text-decoration: underline; }

a.item em {
  background-color: #E6F7EB;
  color: #000;
  font-style: normal; }

a.item .hellip {
  color: #aaa; }

.nav-pills > li.active > a {
  background-color: #3e83ac; }

.content img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px; }

ul.links {
  list-style-type: none;
  padding-left: 0; }

ul.links li {
  margin-top: 5px;
  margin-bottom: 5px; }

.control-label {
  margin-top: 14px;
  margin-bottom: 4px; }

.well {
  margin-top: 30px;
  margin-bottom: 30px; }
  .well h3, .well h4 {
    margin-top: 0; }

.breadcrumb {
  background-color: #fff !important;
  padding-left: 0px !important;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 0px !important;
  font-size: 13px; }
  .breadcrumb li + li:before {
    content: ""; }
  .breadcrumb li.item + li.item:before {
    content: "▸"; }

.nav li a {
  padding-left: 22px;
  padding-right: 22px; }

#nav_contact {
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 12.8px;
  margin-left: 21px;
  margin-top: 4px;
  padding: 0px;
  height: 42px; }

#nav_contact a {
  line-height: 21px;
  padding-top: 10px;
  padding-left: 19px;
  padding-right: 19px; }

.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
  hover-color: #666; }

h3 .header-link {
  font-size: 20px;
  line-height: 33px; }

h4 .header-link {
  font-size: 18px;
  line-height: 22px; }

h5 .header-link {
  font-size: 16px;
  line-height: 20px; }

h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
  opacity: 1;
  color: #666; }

.headline-with-link {
  cursor: default; }

.tab-pane {
  padding-top: 20px; }

/*# sourceMappingURL=base.css.map */
