name: Generate review Issues weekly
on:
  schedule:
    # At 0:05 on Sundays
    - cron:  '5 0 * * 0'
  workflow_dispatch:

jobs:
  front-matter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install dependencies
        run: pip3 install click colored PyYAML

      - name: Validate front matter and last review date
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          ISSUES=$(make validate-last-reviewed-json)
          echo "ISSUES=$(echo "$ISSUES" | jq -c '.')" >> $GITHUB_ENV

      - name: Generate issues of out of date docs
        uses: giantswarm/open-issue@7774937e31b23a52257a34462a753b0a28a4d1f1 # 0.3.0
        with:
          token: ${{ secrets.ISSUE_AUTOMATION }}
          org: giantswarm
          repo: giantswarm
          issues: ${{ env.ISSUES }}
