name: Vale
on:
  - pull_request

jobs:
  vale:
    name: vale
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Execute Vale
        run: |
          wget -q https://github.com/errata-ai/vale/releases/download/v3.4.1/vale_3.4.1_Linux_64-bit.tar.gz
          mkdir bin && tar -xvzf vale_3.4.1_Linux_64-bit.tar.gz -C bin
          ls -la bin
          bin/vale --config=./.vale.ini \
            --glob '!{src/content/changes/**}' \
            --no-exit \
            --output ./.vale/styles/rdjsonl.tmpl \
            src/content > out.jsonl

      - name: Install reviewdog
        uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
        with:
          reviewdog_version: latest

      - name: Create annotations on touched files
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          reviewdog -f=rdjsonl -name=Vale -reporter=github-pr-annotations -fail-level=error -filter-mode=added -level=info < out.jsonl
