---
kind: Secret
apiVersion: v1
metadata:
  namespace: docs
  name: registry-pull-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: VALUE
---
apiVersion: v1
kind: Secret
metadata:
  namespace: docs
  name: elasticsearch-endpoint-url
type: Opaque
data:
  value: http://admin:<PASSWORD>@sitesearch:9200
